version: "3.3"

services: 
  codercom:
    build:
      context: .
      dockerfile: Dockerfile.code
    container_name: codercom
    volumes:
      - ./code-config.yaml:/home/coder/.config/code-server/config.yaml:z
      - /var/run/docker.sock:/var/run/docker.sock
    ports: 
      - {{ coder_port }}:{{ coder_internal_port }}
