version: "3.3"

services: 
  codercom:
    build:
      context: .
      dockerfile: Dockerfile.code
    container_name: codercom
    network_mode: host
    volumes:
      - ./code-config.yaml:/home/coder/.config/code-server/config.yaml:z
      - ./extensions:/home/coder/.local/share/code-server/extensions:z
      - ./settings.json:/home/coder/.local/share/code-server/User/settings.json:z
      - ./ssh_coder_conf:/home/coder/.ssh:z
      - /var/run/docker.sock:/var/run/docker.sock
