{% for server in ssh_servers_config %}
host {{ server.name }}
  HostName {{ server.hostname }}
{% if server.ssh_port is defined %} 
  port {{ server.ssh_port }}
{% else %}
  port 22
{% endif %}
  user {{ server.ssh_username }}
{% if server.ssh_private_key_ref is defined %} 
  identityfile ~/.ssh/{{ server.ssh_private_key_ref }}
{% else %}
  identityfile ~/.ssh/id_rsa
{% endif %}
{% if server.keep_alive is defined %} 
  ServerAliveInterval {{ server.keep_alive }}
{% else %}
  ServerAliveInterval 60
{% endif %}
{% endfor %}
